* {
  margin-top: 0;
  padding: 0;
  margin: 0;
    }

body{
    background-color: #02010a

}

.contenido{
    max-width: 900px;
    margin: 0% auto;
}
img{
    box-shadow: 2px 2px 2px #02010a
}

.contenedor1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-color: #5b7989;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
    display: flex

}
    .c1 {
        width: 60%;
        text-align: left;
       padding: 0px;
       justify-content: center;
       align-content: center;
       display: flex;
       flex-direction: column;


    }
#tituloindex {
margin: 15px;
color:  white;
text-shadow: 0 2px #02010a ;
}
.c2 {
        width: 40%;
        padding: 15px;
        text-align: right;
        line-height: 50px
       
                 
    }
.c2 a{ 
    margin: 15px;
    color:white;
    }

.contenedor{
    display: flex;
    flex-direction: column;
    

}
.cuerpoa {
    width: 100%;
    height: auto;
    background-color: #82c3a6
}

.img1{
    width: 50%;
    display: block; 
    margin: 2% auto;
}
.cuerpob { 
    width: 100%;
    height: auto;
    display: flex;
    background-color: #d5c75f
   
 }
.img2{
   background-color: #d5c75f;
   text-align: center;
   display: block;
   margin: auto;

}
.img2 img {
    width: 80%;
    height: 100%;
    margin: 2%;
    border: solid 1px
   
}
figcaption{
    margin-bottom: 2%;
    text-decoration-line: underline;
    font-style: italic;
}

#clo2:hover{
    transform: rotate(10deg);
    border: solid 2px;
    transition-duration: 1s;
    box-shadow: 2px 2px 2px #82c3a6;

}
#clo3:hover{
transform: translate(20px ,-5px);
transition-duration: 1s;
box-shadow: 2px 2px 2px #82c3a6;
}
#clo3:hover{

}
.piepagina{
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
    display: flex;
        
}

.piepagina div{
    width: 100%;
    margin: 10px;
    text-align: left;
    align-content: center;
    display: flex;
    flex-direction: column;
    font-style: italic;
    
}

.piepagina div h3 {
    font-style: italic;
}

#col3 a {
    margin: 2%;
    text-align: left;
    justify-content: center
    }

img[src$="png"] {
  
    border-radius: 50%;
    width: 20px;
    margin: 1%;
    margin-right: 8%;
    vertical-align: middle;

}

.contenedorimagenes {
    width: 100%;
    background-color: #d5c75f;
    display: flex;
    
}

.contenedorimagenes img{
    width: 80%;
    display: block;
    margin: 8% auto;

}

.imgp1{
    filter: blur(10px)
}
.imgp2{
    filter: grayscale(100%)  
    }
    
.imgp3{
    filter: sepia(90%) 
    }
    
.imgp4{
    filter: grayscale(100%)  
    }
.imgp6{
    filter: grayscale(100%)  
    }


@media (max-width:700px) {
.contenedor1 {
    display: block
}
.c1,.c2{
width: 100%;
text-align: center
}

}

