* {
  margin-top: 0;
  padding: 0;
  margin: 0;
    }
body{
    padding: 0;
    margin: 0% 8% 0% 8%;
    margin-top: 0;
    padding: 0;
}
.contenedor1{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 80px;
    background-color: #5b7989;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;  
    display: -webkit-flex;
    
}
    .c1 {
        width: 50%;
        text-align: left;
        text-shadow: 12px  #02010a;
        padding: 0px;
        vertical-align: middle
    }
#tituloindex {
margin: 15px;
color:  white;
text-shadow: 0 2px #02010a ;
}
    .c2 {
        width: 50%;
        text-align: right;
        padding: 15px;       
    }
.c2 a{ margin: 15px;
    color:white;
    }

.contenedor{
    display: flex;
    flex-direction: column;
    

}
.cuerpoa {
    width: 100%;
    height: auto;
    background-color: #82c3a6
}

.img1{
    width: 50%;
    padding: 2%;
    display: block; 
    margin: auto;
}
.cuerpob { 
    width: 100%;
    height: auto;
    display: flex;
    background-color: #d5c75f
   
 }
.img2{
   background-color: #d5c75f;
   text-align: center;
   display: block;
   margin: auto;

}
.img2 img {
    width: 80%;
    height: 100%;
    margin: 2%;
    border: solid 1px
   
}
figcaption{
    margin-bottom: 2%
}

#clo2:hover{
    transform: rotate(10deg);
    border: solid 2px;
    transition-duration: 1s;
    box-shadow: 2px 2px 2px #82c3a6;

}
#clo3:hover{
transform: translate(20px ,-5px);
transition-duration: 1s;
box-shadow: 2px 2px 2px #82c3a6;
}
#clo3:hover{

}
.piepagina{
    width: 100%;
    height:300px;
    border-radius: 0 0 10px 10px;
    background-color: #c6d5c5;
   display: flex

}

.piepagina div{
    width: auto;
    margin: 10px;
    text-align: center;
    line-height: 75px;
   
    justify-content: center;
    display: flex;
    flex-direction: column;

    font-size: 30px;



}


